$primary-color:#9C5156;

*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    margin: 0;
}

.container{
    margin: auto;
    width: 90%;
    max-width: 1140px;
    // background-color: chocolate;

}


// ============================  ===========================
// 頁首
// ============================  ===========================

header { 
    background-color: #fff;
    height: 100px;
    box-shadow:0px 0px 6px 0px #9C5156;
    position: relative;
   
}
  
header > .container h1 {
    padding-top: 15px;
    color: #363230;
}

header>.container h1>a{
    color: #363230;
}

header > .container h1 > a > img{
    height:70px;  
}

header>.container nav > ul{
    display: flex;
    // justify-content: space-between;
}


header > .container nav > ul > li > a:first-child {
    margin-left: 20px;
}
// .pull-right{

.submenu > li > a  img { 
    margin-left: 40px;       
    padding-left: 20px;
    width: 50%;
    // z-index: 99;
        
}

//     // margin-left: 20px;
// }


.pull-up {      
    position: relative;
    top:-110px;
    left:90%;    
    
}
.icon-size{
    padding:0px 10px;
    height: 20px;
}
header>.container nav>ul>li>a{
    position:relative;
    top: 33px;
    line-height: 60px;
    display: block;
    color: #363230;
    font-weight: 500;
    font-size: 1.1em;
    letter-spacing: 2px;
    margin-bottom: 50px;
}

// ==========================手機板==================================
@media (min-width: 981px) {
    // header > .container nav {
    //   width: 100%;
    // }
  
    header > .container nav > ul > li {
      position: relative;
      padding-left: 5px;
    }
    header > .container nav > ul > li > a:hover {
        color:#9C5156;
        font-weight: bold;
    }
  
    header > .container nav > ul > li:hover .submenu {
        display: block;
    }

    .submenu {
        z-index: 99;
        position: absolute;
        background-color: #fff;
        box-shadow:3px 3px 5px #C29498;
        width: 90%;
        left: 35px;    //   2層選單的左右位置
        top: 80px;
        padding:10px 10px;
        display: none;
    }
    
    .submenu > li {
      line-height: 40px;
    }
  
    .submenu > li > a {
        display: block;
        color: black;
        margin: auto;
    }
    .submenu > li > a:hover {
        color:#9C5156;
        font-weight: bold;
        font-size: 18px;
        font-size: 1.2em;
       
    }

    //======================= LOGO置中========================
    // header {
        //   position: relative;
        // }
        
        // header > .container h1 {
    //   position: absolute;
    //   left: 50%;
    //   transform: translateX(-50%);
    //   line-height: 60px;
    //   padding-top: 0px;
    // }
  
    // header nav {
    //   display: flex;
    //   justify-content: center;
    // }
    // header > .container nav > ul > li:nth-child(2) {
    //   margin-right: 250px;
    // }
  
    
  
}
// // main-width 768 end
// // ==============================




// ========================= ===========================
// 內容區塊body
// ========================= ===========================


// =========================== 圖片相關樣式
.img-fluid{
    width: 100%;
    // z-index: -1;
}

.img-rounded{
    border-radius: 5px;    
}

.img-circle{
    border-radius: 100%;
}

.img:hover{
    transform: all .5s scale(1.5);
}


//  =========================== 文字相關樣式
.text-center{
    text-align: center;
}
.text-center-p{
    text-align: center;
}

.text-center-h2{
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin: 30px 0px 20px 0px ;
}
.text-center-h2::before{
    content:'';
    display:inline-block;
    width:3px;
    height:20px;   
    margin-right: 10px;
    background:  #B79483;
    

}
.text-center-h2::after{
    content:'';
    display:inline-block;
    width:3px;
    height:20px;
    margin-left: 10px;
    background:  #B79483;
    
}
.text-left{
    margin: 0;
    padding: 0;
    text-align: left;
   
    
}
.flex-left {
    display: flex;
}

.text-left-h1 {   
    margin-left:0px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}
.text-left-a{
    text-align: left;
    margin: 23px 10px 20px 0px ;
        
}
.text-a{
    font-size: 15px;
    color: #6C1319;
    font-weight: 400;
}
.text-a:hover{
    text-decoration: underline;

}
.text-left-h2{
    display: block;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    margin: 20px 2px 20px 10px ;
    padding: 0px 10px;

}
.text-left-h2::before{
    content:'';
    display:inline-block;
    width:2px;
    height:20px;   
    margin-right: 15px;
    background:  #B79483;
}
.text-left-h2::after{
    content:'';
    display:inline-block;
    width:2px;
    height:20px;   
    margin-left: 15px;
    background:  #B79483;
}
.text-right{
    text-align: right;
}

.text-justify{
    text-align: justify;
}

// ===========================區塊相關樣式
.row{
    display: flex;
    flex-wrap: wrap;  /*換行*/
    
}
// main{
//     margin: 20px 5% 10px 0px ;
//     display: flex;
// }
.container> .row > article > .col-12 >.row-1{
    display: flex;
    
}
.container> .row  > article > dt{
    width: 100%;
   
}
.left-h2{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
    color: #9C5156;
}
.text-p{
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 300 1em;
}
article{
    display: flex;
}
.describe{
    margin: 20px 0px 10px -60px;
}
.bottom-distance{
    margin-bottom: 15px;
}
.left-img{
    margin-top: 20px;
}
.right-img{
    margin-top: 20px;
}
// 


@for $i from 1 through 12 {
    .col-#{$i}{
        --num: calc(12 / #{$i});
        width: calc(100% / var(--num) - 50px);
        margin: 0px 25px 45px 25px;
        position: relative;
    }
}
@media (min-width:768px){
    @for $i from 1 through 12 {
        .col-md-#{$i}{
            --num: calc(12 / #{$i});
            width: calc(100% / var(--num) - 50px);
            margin: 0px 25px 45px 25px;
        }
    }
} // 768px end

@media (min-width:1200px){
    @for $i from 1 through 12 {
        .col-lg-#{$i}{
            --num: calc(12 / #{$i});
            width: calc(100% / var(--num) - 50px);
            margin: 0px 25px 45px 25px;
        }
    }
} // 1200px end

@media (min-width:768px){
    .order-md-1{
        order:-1;
    }
}

.title a{
    display: block;
    color: #363230;
    font-size: 18px;
    font-weight: 500;
    margin-top:10px;
   
        
}
.price{
    color:#B79483;
    font-size: 25px;
    font-weight: 500;
    margin-top:5px;
}
.price-small{
    color:#B79483;
    font-size: 16px 1em;
    font-weight: 500;
    // margin-top:5px;
    margin-top:8px;

}
.fill-like{
    position: absolute;
    bottom:2px;
    right:2px;
    width: 20px;
}
.icon-tag{
    position: absolute;
    top:-10px;
    left:15px;
    width: 40px;
}

h2{
    font-size: 2em;
}

// ============================== ===========================
// 頁尾區塊
// ============================== ===========================
footer {
    background-color: #DEBEC1;
    margin-top: 50px;
    padding: 20px 0 20px 0;
}
footer>.container>.row nav{
    width: 100%;
}
.text-footer{
    margin-top: 50px;
    margin-bottom: 10px;
    margin: auto;
    line-height: 20px;
    font-size: 18px;
    font-weight: 300;    
}

.border-left{
    color: #363230;
    
}


footer>.container>.row ul{
    display: flex;  
    justify-content: center;
   
}
footer>.container>.row li{
    margin:30px 20px 0px 20px;
}
footer>.container>.row li >a:hover{
    text-decoration: underline; 
}
footer>.container>.row li>a>img{
    width: 35px;
    transform: all .8s;
}
footer>.container>.row li>a>img:hover{
    margin-top: -10px;
    transform: scale(1.2) ;
}
footer>.container>.row nav>p{
    margin-top: 20px;
    font-size: 1px;
    font-weight: 100;
}
// dt{
//     font-size: 1.2em;
//     margin-bottom: 10px;
//     color: #ffffff;
// }

// dd{
//     margin-bottom: 4px;

// }

// dd>a{
//     color: #363230;
// }


// ======================
// 麵包屑

.breadcrumb{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;

}

.breadcrumb a{
    color:  #363230;
    font-size: 18px;
}
.bread{
    color:#363230;
    
}
.breadcrumb li{
    margin-right: 10px;
}
.breadcrumb li::after{
    content: '/';
    margin-left: 10px;
}
.breadcrumb li:last-child::after{
    content:' ';
}

.w-20{
    width: 20%;
}

.w-80{
    width: 80%;

}

  
.all-plucked{
    display: flex;    
    margin-left: 0px;   
}
.plucked-distance{
    margin: 15px 5px 15px 5px;
}

.btn-plucked{    
    border: 1px #9C5156 solid;
    padding: 5px 30px;
    color: #6C1319;    
    margin-bottom: 4px;
    font-size: 14px 0.5em;
    font-weight:200;
    border-radius: 2px;
    text-align: center;
}
.btn-plucked:hover{
    background-color: #6C1319;
    border: 1px #6C1319 solid;
    font-weight: 500;
    color: #fff;


}

// .btn-primary{
//     background-color:#DEBEC1;
//     padding: 15px;
//     color: #363230;
//     display: block;
//     margin-bottom: 4px;
//     border-radius: 4px;
//     text-align: center;
// }

// .btn-primary:hover{
//     background:#4f8b77;
//     color: #363230;
//     font-size: 20px;
// }

// .text-primary{
//     color:#4f8b77;



// .img-wrap{
//     display: block;
//     position: relative;
//     margin-bottom: 10px;
  
// }

.img-overlay{
    overflow: hidden;
    border-radius: 8px;
}

.img-wrap img{
    vertical-align: top;
    transition: all 0.5s;
}

.img-wrap img:hover{
    transform: scale(1.5);
}

.icon-new {
    position: absolute;
    width: 50px;
    line-height: 50px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: bold;
    border-radius: 100%;
    left: -25px;
    top: -25px;
    background-color: rgb(73, 212, 55);
    // 下方正中間
    // bottom:-25px;
    // left:50%;
    // margin-left: -25px;
}
aside{
    z-index: -99;
}

/*===================================icon-menu=================================== */

// ================================= 小於767px以下執行 start
// .flex-space-between{
//     justify-content: space-between;
// }
.flex-start{
    justify-content: flex-start;
    
}
  
@media(max-width:980px){
    // h1{
    //     // width: 85%;
    //     // background-color: #797979;
      
    // } 
    .icon-position{
        display: block;
        width: 5%;
    } 
    .icon-menu {
        position: relative;
        right: 0;
        position:absolute;
        bottom:0;
        width: 10%;
        display: block;
        background-color: #9C5156;
        border-radius: 3px 3px 0px 0px;        
        color: #fff;
        text-decoration: none;
        line-height: 60px;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
    }
   
    

    header{
        position: relative;
    }
    
    header > .container nav{
        width: 100%;
        z-index: 99;
        position: absolute;
        top:100px;
        background-color: #DEBEC1;
        // display: none;
        // 需要蓋板的話打開以下程式碼
        // position: fixed;
        // top:0px;
        // height: 100vh;
        // z-index: 999;

        // 需要從上往下出現導覽時打開以下程式碼
        // height:0px;
        // overflow: hidden;
    
    }
    nav{
        // viewport width
        left:0px;
        // 這一行等二層選單做完之後再打開
        left:-100vw;
        transition: all 0.3s;    
        
    }
    // 之後搭配javascript要改寫選取器的寫法
    nav.active{

        left:0px;

        // 需要從上往下出現導覽時打開以下程式碼
        // height: 244px;
    }
    
    header > .container nav.active{
        display: block;
    }
      
    header> .container nav >ul{
        display: block;
    }
    header> .container nav > ul >li{
        width: 100%;
        text-align: center;    
        border-bottom:1px solid #9C5156;
    }
    header> .container nav> ul >li >a{
        display: block;    
    }
    .submenu{
        display: none;
        background-color:#9C5156;
        z-index: 99;
    }
    header> .container nav> ul >li:hover .submenu{
        display: block;    
    }
    .submenu>li{
        line-height: 60px;
        border-bottom:0.5px solid rgb(255, 255, 255);
    }
    .submenu > li > a {
        color: #fff;
        display: block;
    }
    .breadcrumb{
        z-index: -99;
        display: flex;
        margin-top: 20px;
        margin-bottom: 10px;
        width: 100%;
        // color:#363230;
    }
    
    .breadcrumb a{
        font-size: 14px;
        overflow: hidden;
    }
    

    .text-left-h1 {   
        margin-left:0px;
        margin-bottom: 10px;
        text-align: left;
        font-size: 20px;
        font-weight: 500;
    }
    .title a{
        display: block;
        color: #363230;
        font-size: 14px;
        font-weight: 500;
        margin-top:8px;
            
    }
    .price{
        color:#B79483;
        font-size: 17px;
        font-weight: 500;
        margin-top:5px;
    }
    .fill-like{
        position: absolute;
        bottom:2px;
        right:2px;
        width: 15px;
    }
    .icon-tag{
        position: absolute;
        top:-5px;
        left:8px;
        width: 20px;
    }
    .plucked-distance{
        margin: 10px 2px 10px 2px ;
    }
    .btn-plucked{
        display: block;    
        border: 1px #9C5156 solid;
        padding: 5px 9px;
        color: #6C1319;    
        margin-bottom: 4px;
        font-size: 14px 0.5em;
        font-weight:200;
        border-radius: 2px;
        text-align: center;
    }
    
    .text-center-h2{
        display: block;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        margin: 15px 0px 15px 0px ;
    }
    .text-center-h2::before{
        content:'';
        display:inline-block;
        width:1px;
        height:20px;   
        margin-right: 10px;
        background:  #B79483;
        
    
    }
    .text-center-h2::after{
        content:'';
        display:inline-block;
        width:1px;
        height:20px;
        margin-left: 10px;
        background:  #B79483;
        
    }
    

    .text-footer{
        margin-top: -10px;
        margin: auto;    
        font-size: 14px;
        font-weight: 200;    
    }
    footer>.container>.row li>a>img{
        width: 30px;
    }
    footer>.container>.row nav>p{
        margin-top: 12px;
        font-size: 10px;
        font-weight: 100;
    }
    footer>.container>.row li{
        margin:20px 11px 0px 11px;
    }
  
    
}  

//=================================== max-width 767 end


//===================================== 超過768px以上執行 start
@media (min-width:981px){
    .icon-menu{
        display: none;
    }
} // min-width 768 end
// $i index
// for迴圈
// from through 從 1 開始到 3
@for $i from 1 through 10 {
    .fz-#{$i}{
        font-size: $i * 1em;
    }
}
@for $i from 1 through 5 {
    .mb-#{$i}{
        margin-bottom: $i * 1em;
    }
}


// ==========================輪播Banner==========================================
body{
    margin: 0;
    /* overflow-x: hidden; */
}
.parent{
    /* 可視範圍寬 */
    /* width: 500px; */
    width:100%;
    /* max-width: 600px; */
    margin: auto;
    overflow: hidden;
    position: relative;
}
.child{
    /* 圖片寬度*項目個數 */
    /* width: 2000px; */
    /* 去除行內空白，文字大小0 */
    font-size: 0;
    display: flex;

}
h1{
    font-size: 40px;
}
.parent img{
    /* 同.parent寬 */
    width: 100%;
}
/* div時用float */
/* .son{
    float: left;
} */
.left-arrow, .right-arrow{
    position: absolute;
    cursor:pointer;
    background-color:rgba(183, 148, 131,.7); 
    width: 30px;
    font-size: 20px;
    
    /* 設定較小塊的感應區 */
    height:60px; 
    top:50%; 
    transform: translateY(-50%);
    border-radius: 4px; 
    display: flex;
    align-items: center;
    justify-content: center;

    
}
.left-arrow{
    left:-2px;
}
.right-arrow{
    right:-2px;
}
.triangle2 {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid rgba(255, 255, 255);
    border-bottom: 10px solid transparent;
    border-left: 0px solid transparent;
    
}
.triangle4 {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 0px solid ;
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgb(255, 255, 255);
}
  
.indicator{
    list-style-type: none;
    margin: 0;
    padding: 0;
    // display: flex;
    position: absolute;
    bottom:10px;
    right:10px;
    
}
.indicator>li{
    width:10px;
    height: 10px;
    background-color:#36323071;
    border-radius: 3px;
    margin-bottom: 10px;
    cursor: pointer;
}
.indicator>li:last-child{
    margin-bottom: 0;
}
.indicator>li.active{
    background-color:#6C1319;
}
// .loading-overlay{
//     position: fixed;
//     /* top:0;
//     left:0;
//     right:0;
//     bottom:0; */
//     width: 100vw;
//     height: 100vh;
//     top:0;
//     left:0;
//     background-color: lightblue;
//     z-index: 999;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     /* left:-50vw */
//     /* display: none; */
//     transition: .3s all;
//     transition-delay: 1s;
// }
// .loading-overlay.active{
//     top:-100vh;
// }
// .loader {
//     border: 16px solid #f3f3f3; /* Light grey */
//     border-top: 16px solid #3498db; /* Blue */
//     border-radius: 50%;
//     width: 120px;
//     height: 120px;
//     animation: spin 2s linear infinite;
// }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}