$primary-color:rgb(92, 142, 103);

*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    margin: 0;
}

.container{
    margin: auto;
    width: 90%;
    max-width: 1140px;
    // background-color: chocolate;

}


// ============================
// 頁首
// =============================

header{
    background-color: rgb(198, 229, 226);
}

header>.container>h1{

    padding-top: 20px;
    color: rgb(73, 73, 73);

}
header>.container>h1>a{
    color:$primary-color;
}

header>.container>nav>ul{
    display: flex;
    // justify-content: space-between;
}

header>.container>nav>ul>li{
    margin-right: 30px;
    
}

header>.container>nav>ul>li>a{
    line-height: 60px;
    color:$primary-color;
    font-size: 1.2em;
   letter-spacing: 2px;
}




// =========================
// 內容區塊body
// =========================


// 圖片相關樣式
.img-fluid{
    width: 100%;
}

.img-rounded{
    border-radius: 5px;    
}

.img-circle{
    border-radius: 100%;
}

.img:hover{
    transform: all .5s scale(1.5);
}


// 文字相關樣式
.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
    margin: 0;
    margin-left: 13px;
    margin-bottom: 12px;
    color: rgb(79, 139, 119);


}


.text-right{
    text-align: right;
}

.text-justify{
    text-align: justify;
}

// 區塊相關樣式
.row{
    display: flex;
    flex-wrap: wrap;  /*換行*/
}
// 四欄
.col-3{
    width: calc(100% / 4 - 30px);
    margin: 0px 15px 40px 15px;
    // 上右下左
}
// 三欄
.col-4{
    width: calc(100% / 3 - 30px);
    margin: 0px 15px 40px 15px;
    // 上右下左
}

// 兩欄
.col-6{
    width: calc(100% / 2 - 30px);
    margin: 0px 15px 40px 15px;
    // 上右下左
}
.col-8{
    width: calc(100% / 1.5 - 30px);
    margin: 0px 15px 40px 15px;
    // 上右下左
}
.col-9{
    width: calc(100% / 1.3333333 - 30px);
    margin: 0px 15px 40px 15px;
    // 上右下左
}

// 一欄式
.col-12{
    width: calc(100% / 12 - 30px);
    margin: 0px 15px 40px 15px;
    // 上右下左
}




.title a{
    color: rgb(73, 73, 73);
    font-size: 1.5em;
    font-weight: 700;
}
.date{
    color: $primary-color;
}

h2{
    font-size: 2em;
    margin: 60px auto 30px auto;
}

// ==============================
// 頁尾區塊
// ==============================
footer{
    clear: both;
    background-color:rgb(198, 229, 226);
    padding: 40px 0 40px 0;
}
dt{
    font-size: 1.2em;
    margin-bottom: 10px;
    color: $primary-color;
}

dd{
    margin-bottom: 4px;

}

dd>a{
    color: rgb(73, 73, 73);
}



// ======================
// 麵包屑

.breadcrumb{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    color: rgb(73, 73, 73) ;
}

.breadcrumb a{
    color:  rgb(73, 73, 73);
    font-size: 18px;
}
.bread{
    color:rgb(73, 73, 73) ;
    margin-left: 15px;
    
}

.w-20{
    width: 20%;
}

.w-80{
    width: 80%;

}

.btn-primary{
    background-color:rgb(173, 192, 177);
    padding: 15px;
    color: rgb(73, 73, 73);
    display: block;
    margin-bottom: 4px;
    border-radius: 4px;
    text-align: center;
}

.btn-primary:hover{
    background:rgb(79, 139, 119);
    color: #fff;
    font-size: 20px;
}
.col-4>img{
    transform: all .5s;

}
.col-4>img:hover{
    transform: scale(1.5);

}