$primary-color:#9C5156;

*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    margin: 0;
}

.container{
    margin: auto;
    width: 90%;
    max-width: 1140px;
    // background-color: chocolate;

}


// ============================  ===========================
// 頁首
// ============================  ===========================

header { 
    background-color: #fff;
    height: 100px;
    box-shadow:0px 0px 6px 0px #9C5156;
    position: relative;
   
}
  
header > .container h1 {
    padding-top: 15px;
    color: #363230;
}

header>.container h1>a{
    color: #363230;
}

header > .container h1 > a > img{
    height:70px;  
}

header>.container nav > ul{
    display: flex;
    // justify-content: space-between;
}

// header>.container nav > ul > li{
//     margin-right: 5px;
    
    
// }

header > .container nav > ul > li > a:first-child {
    margin-left: 20px;
}
// .pull-right{
//     // margin-left: 20px;
// }


.pull-up {      
    position: relative;
    top:-110px;
    left:90%;    
    
}
.icon-size{
    padding:0px 10px;
    height: 20px;
}
header>.container nav>ul>li>a{
    position:relative;
    top: 33px;
    line-height: 60px;
    display: block;
    color: #363230;
    font-weight: bold;
    font-size: 1.1em;
    letter-spacing: 2px;
    margin-bottom: 50px;
}


@media (min-width: 768px) {
    // header > .container nav {
    //   width: 100%;
    // }
  
    header > .container nav > ul > li {
      position: relative;
      padding-left: 5px;
    }
    header > .container nav > ul > li > a:hover {
        color:#9C5156;
        font-weight: bold;
    }
  
    header > .container nav > ul > li:hover .submenu {
        display: block;
    }

    .submenu {
      position: absolute;
      background-color: #fff;
      box-shadow:3px 3px 5px #C29498;
      width: 120%;
      left: 35px;    //   2層選單的左右位置
      top: 80px;
      padding:10px 10px;
      display: none;
    }

 
  
    .submenu > li {
      line-height: 40px;
    }
  
    .submenu > li > a {
        display: block;
        color: black;
    }
    .submenu > li > a:hover {
        color:#9C5156;
        font-weight: bold;
        font-size: 18px;
        font-size: 1.2em;
       
    }

    .submenu > li > a > img{
        width: 50%;
    }
    //======================= LOGO置中========================
    // header {
        //   position: relative;
        // }
        
        // header > .container h1 {
    //   position: absolute;
    //   left: 50%;
    //   transform: translateX(-50%);
    //   line-height: 60px;
    //   padding-top: 0px;
    // }
  
    // header nav {
    //   display: flex;
    //   justify-content: center;
    // }
    // header > .container nav > ul > li:nth-child(2) {
    //   margin-right: 250px;
    // }
  
    
  
}
// // main-width 768 end
// // ==============================




// ========================= ===========================
// 內容區塊body
// ========================= ===========================


// =========================== 圖片相關樣式
.img-fluid{
    width: 100%;
}

.img-rounded{
    border-radius: 5px;    
}

.img-circle{
    border-radius: 100%;
}

.img:hover{
    transform: all .5s scale(1.5);
}


//  =========================== 文字相關樣式
.text-center{
    text-align: center;
}

.text-center-h2{
    display: block;
    text-align: center;
    border-left: 2px #B79483 solid;
    border-right: 2px #B79483 solid;
    font-size: 24px;
}
.text-center-h2::before{
    content:'';
    display:block;
    width:1px;
    height:40px;
    
}
.text-center-h2::after{
    content:'';
    display:block;
    width:1px;
    height:40px;
    
}
.text-left{
    margin: 0;
    padding: 0;
    text-align: left;
   
    
}

.text-right{
    text-align: right;
}

.text-justify{
    text-align: justify;
}

// ===========================區塊相關樣式
.row{
    display: flex;
    flex-wrap: wrap;  /*換行*/
    
}

// 


@for $i from 1 through 12 {
    .col-#{$i}{
        --num: calc(12 / #{$i});
        width: calc(100% / var(--num) - 50px);
        margin: 0px 25px 60px 25px;
        position: relative;
    }
}
@media (min-width:768px){
    @for $i from 1 through 12 {
        .col-md-#{$i}{
            --num: calc(12 / #{$i});
            width: calc(100% / var(--num) - 50px);
            margin: 0px 25px 60px 25px;
        }
    }
} // 768px end

@media (min-width:1200px){
    @for $i from 1 through 12 {
        .col-lg-#{$i}{
            --num: calc(12 / #{$i});
            width: calc(100% / var(--num) - 50px);
            margin: 0px 25px 60px 25px;
        }
    }
} // 1200px end

@media (min-width:768px){
    .order-md-1{
        order:-1;
    }
}

.title a{
    display: block;
    color: #363230;
    font-size: 18px;
    font-weight: 700;
    margin-top:10px;
   
        
}
.price{
    color:#B79483;
    font-size: 25px;
    font-weight: bold;
    margin-top:5px;
}
.fill-like{
    position: absolute;
    bottom:2px;
    right:2px;
    width: 20px;
}
.icon-tag{
    position: absolute;
    top:-10px;
    left:15px;
    width: 40px;
}

h2{
    font-size: 2em;
    margin: 50px auto 30px auto;
}

// ============================== ===========================
// 頁尾區塊
// ============================== ===========================
footer {
    height: 180px;
    background-color: #DEBEC1;
    padding: 20px 0 20px 0;
}
footer>.container>.row nav{
    width: 100%;
}
.text-footer{
    margin-top: 100px;
    margin: auto;
    line-height: 20px;
    font-size: 18px;
    font-weight: 500;

    
    
}
.border-left{
    color: #363230;
    
}


footer>.container>.row ul{
    display: flex;  
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}
footer>.container>.row li{
    margin:30px 20px 0px 20px;
}
footer>.container>.row li>a>img{
    width: 35px;
}
footer>.container>.row nav>p{
    margin-top: 150px;
}
// dt{
//     font-size: 1.2em;
//     margin-bottom: 10px;
//     color: #ffffff;
// }

// dd{
//     margin-bottom: 4px;

// }

// dd>a{
//     color: #363230;
// }


// ======================
// 麵包屑

.breadcrumb{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    color:#363230;
}

.breadcrumb a{
    color:  #363230;
    font-size: 18px;
}
.bread{
    color:#363230;
    margin-left: 15px;
    
}

.w-20{
    width: 20%;
}

.w-80{
    width: 80%;

}

.btn-primary{
    background-color:#adc0b1;
    padding: 15px;
    color: #363230;
    display: block;
    margin-bottom: 4px;
    border-radius: 4px;
    text-align: center;
}

.btn-primary:hover{
    background:#4f8b77;
    color: #363230;
    font-size: 20px;
}

.text-primary{
    color:#4f8b77;

}

.img-wrap{
    display: block;
    position: relative;
    margin-bottom: 10px;
  
}

.img-overlay{
    overflow: hidden;
    border-radius: 8px;
}

.img-wrap img{
    vertical-align: top;
    transition: all 0.5s;
}

.img-wrap img:hover{
    transform: scale(1.5);
}

.icon-new {
    position: absolute;
    width: 50px;
    line-height: 50px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: bold;
    border-radius: 100%;
    left: -25px;
    top: -25px;
    background-color: rgb(73, 212, 55);
    // 下方正中間
    // bottom:-25px;
    // left:50%;
    // margin-left: -25px;
}

/*===================================icon-menu=================================== */

// ================================= 小於767px以下執行 start
// .flex-space-between{
//     justify-content: space-between;
// }
.flex-start{
    justify-content: flex-start;
    
}
  
@media(max-width:767px){
    // h1{
    //     // width: 85%;
    //     // background-color: #797979;
      
    // } 
    .icon-position{
        display: block;
        width: 5%;
    } 
    .icon-menu {
        position: relative;
        right: 0;
        position:absolute;
        bottom:0;
        width: 10%;
        display: block;
        background-color: #b6e0b5;
        color: #363230;
        text-decoration: none;
        line-height: 60px;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
    }
   
    

    header{
        position: relative;
    }
    
    header > .container nav{
        width: 100%;
        position: absolute;
        top:100px;
        background-color: #DEBEC1;
        // display: none;
        // 需要蓋板的話打開以下程式碼
        // position: fixed;
        // top:0px;
        // height: 100vh;
        // z-index: 999;

        // 需要從上往下出現導覽時打開以下程式碼
        // height:0px;
        // overflow: hidden;
    
    }
    nav{
        // viewport width
        left:0px;
        // 這一行等二層選單做完之後再打開
        left:-100vw;
        transition: all 0.3s;    
        
    }
    // 之後搭配javascript要改寫選取器的寫法
    nav.active{

        left:0px;

        // 需要從上往下出現導覽時打開以下程式碼
        // height: 244px;
    }
    
    header > .container nav.active{
        display: block;
    }
      
    header> .container nav >ul{
        display: block;
    }
    header> .container nav > ul >li{
        width: 100%;
        text-align: center;    
        border-bottom:1px solid #9C5156;
    }
    header> .container nav> ul >li >a{
        display: block;    
    }
    .submenu{
        display: none;
        background-color:#9C5156;
    }
    header> .container nav> ul >li:hover .submenu{
        display: block;    
    }
    .submenu>li{
        line-height: 60px;
        border-bottom:0.5px solid rgb(255, 255, 255);
    }
    .submenu > li > a {
        color: #fff;
        display: block;
    }
    .title a{
        display: block;
        color: #363230;
        font-size: 14px;
        font-weight: 700;
        margin-top:8px;
       
            
    }
    .price{
        color:#B79483;
        font-size: 18px;
        font-weight: bold;
        margin-top:5px;
    }
    .fill-like{
        position: absolute;
        bottom:2px;
        right:2px;
        width: 15px;
    }
    .icon-tag{
        position: absolute;
        top:-5px;
        left:10px;
        width: 30px;
    }
  
    
}  

//=================================== max-width 767 end


//===================================== 超過768px以上執行 start
@media (min-width:768px){
    .icon-menu{
        display: none;
    }
} // min-width 768 end
// $i index
// for迴圈
// from through 從 1 開始到 3
@for $i from 1 through 10 {
    .fz-#{$i}{
        font-size: $i * 1em;
    }
}
@for $i from 1 through 5 {
    .mb-#{$i}{
        margin-bottom: $i * 1em;
    }
}