@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

.container {
  margin: auto;
  width: 90%;
  max-width: 1140px;
}

header {
  background-color: #4f8b77;
}

header > .container > h1 {
  padding-top: 20px;
  color: #494949;
}

header > .container > h1 > a {
  color: #fff;
}

header > .container > nav > ul {
  display: flex;
}

header > .container > nav > ul > li {
  margin-right: 30px;
}

header > .container > nav > ul > li > a {
  line-height: 60px;
  color: white;
  font-size: 1.2em;
  letter-spacing: 2px;
}

.img-fluid {
  width: 100%;
}

.img-rounded {
  border-radius: 5px;
}

.img-circle {
  border-radius: 100%;
}

.img:hover {
  transform: all 0.5s scale(1.5);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
  margin: 0;
  margin-left: 15px;
  margin-bottom: 50px;
  color: #4f8b77;
  font-size: 20px;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /*換行*/
}

.col-3 {
  width: calc(100% / 4 - 30px);
  margin: 0px 15px 40px 15px;
}

.col-4 {
  width: calc(100% / 3 - 30px);
  margin: 0px 15px 40px 15px;
}

.col-6 {
  width: calc(100% / 2 - 30px);
  margin: 0px 15px 40px 15px;
}

.col-8 {
  width: calc(100% / 1.5 - 30px);
  margin: 0px 15px 40px 15px;
}

.col-9 {
  width: calc(100% / 1.3333333 - 30px);
  margin: 0px 15px 40px 15px;
}

.col-12 {
  width: calc(100% / 12 - 30px);
  margin: 0px 15px 40px 15px;
}

.title a {
  color: #494949;
  font-size: 1.5em;
  font-weight: 700;
}

.date {
  color: #5c8e67;
}

h2 {
  font-size: 2em;
  margin: 60px auto 30px auto;
}

footer {
  clear: both;
  background-color: #c6e5e2;
  padding: 40px 0 40px 0;
}

dt {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #5c8e67;
}

dd {
  margin-bottom: 4px;
}

dd > a {
  color: #494949;
}

.breadcrumb {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  color: #494949;
}

.breadcrumb a {
  color: #494949;
  font-size: 18px;
}

.bread {
  color: #494949;
  margin-left: 15px;
}

.w-20 {
  width: 20%;
}

.w-80 {
  width: 80%;
}

.btn-primary {
  background-color: #adc0b1;
  padding: 15px;
  color: #494949;
  display: block;
  margin-bottom: 4px;
  border-radius: 4px;
  text-align: center;
}

.btn-primary:hover {
  background: #4f8b77;
  color: #fff;
  font-size: 20px;
}

.text-primary {
  color: #4f8b77;
}

.img-wrap {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.img-overlay {
  overflow: hidden;
  border-radius: 8px;
}

.img-wrap img {
  vertical-align: top;
  transition: all 0.5s;
}

.img-wrap img:hover {
  transform: scale(1.5);
}

.icon-new {
  position: absolute;
  width: 50px;
  line-height: 50px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 100%;
  left: -25px;
  top: -25px;
  background-color: #49d437;
}

/*===================================icon-menu=================================== */
@media (max-width: 767px) {
  h1 {
    width: 85%;
    float: left;
  }

  .icon-menu {
    float: right;
    width: 15%;
    display: block;
    background-color: #b6e0b5;
    color: #494949;
    text-decoration: none;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }

  header > .container > nav {
    width: 100%;
    float: left;
    display: none;
  }

  header > .container > nav.active {
    display: block;
  }

  header > .container > nav > ul {
    display: block;
  }

  header > .container > nav > ul > li {
    width: 100%;
    text-align: center;
  }

  header > .container > nav > ul > li > a {
    display: block;
  }

  .overflow-hidden {
    overflow: hidden;
  }
}
@media (min-width: 768px) {
  .icon-menu {
    display: none;
  }
}