doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 古雲國樂|聯絡我們
    link(rel='stylesheet' href='public/css/style-login.css')
  body
    // header start
    header
      .container
        .row.flex-start
          h1
            a(href='index.html')
              img(src="public/images/logo_KU_YUN.svg" alt="")
          a#btn-nav-toggle.icon-menu(href="#") Menu

          nav#primary-navigation
            ul
              li
                a(href='plucked-music.html') 彈撥樂
                ul.submenu  
                  li 
                    a(href="plucked-product.html") 琵琶
                  li
                    a(href="") 古箏
                  li
                    a(href="") 揚琴
                  li
                    a(href="") 阮咸
                  li
                    a(href="") 柳琴
                  li
                    a(href="") 古琴
              li
                a(href='') 吹管樂
                ul.submenu  
                  li 
                    a(href="") 蕭
                  li
                    a(href="") 笛
              li
                a(href='#') 拉弦樂
                ul.submenu  
                  li 
                    a(href="") 二胡
                  li
                    a(href="") 高胡 
              li
                a(href='#') 樂器配件
                ul.submenu 
                  li 
                    a(href="") 彈撥配件
                  li
                    a(href="") 吹管配件 
              li
                a(href='store.html') 門市資訊
              li 
                a(href='#') 
                  img.icon-size(src="public/images/icon_search.svg", alt="搜尋")
              li 
                a(href='#')
                  img.icon-size(src="public/images/icon_buy.svg", alt="購物車")
              li 
                a(href='login-member.html')
                  img.icon-size(src="public/images/icon_sign_in.svg", alt="登入")
                
 
    // header end

    //---------------------------------------------- content start
    
    .container
      .row
        .col-12.col-md-6.offset-md-3
          form.form-register(action="javascript:;")
            h2.text-red-center 聯絡我們
            .input-group
              label(for="account") 用戶名
              input(type="text" id="account")
            .input-group
              label(for="account") 電子郵件
              input(type="text" id="account")
            .input-group
              label-2(for="account") 輸入您想詢問的問題，也歡迎您留下電子信箱以外的聯絡方式，謝謝！
              input-2(type="text" id="account")  
            .input-group.flex-space-center
              input.btn-register.w-48(type="submit" value="發送")


    //---------------------------------------------- content end
    // footer>.container>.row>dl.col-md-3*5>dt{標題$$}+dd*4>a{項目$$}^^^p.copyright.text-center{copyright}
  footer
      .container
        .row.space-between
          nav
            ul
              li
                a(href="") 
                  img.img-fluid.img-rounded(src="public/images/icon_fb.svg", alt="")
              li
                a(href="")
                  img.img-fluid.img-rounded(src="public/images/icon_ig.svg", alt="") 
              li
                a(href="") 
                  img.img-fluid.img-rounded(src="public/images/icon_yt.svg", alt="")
              li
                a(href="") 
                  img.img-fluid.img-rounded(src="public/images/icon_line.svg", alt="")
              li
                a(href="") 
                  img.img-fluid.img-rounded(src="public/images/icon_twitter.svg", alt="")
          
            ul.text-footer
              li 
                a.border-left(href="") 關於我們                
              li 
                a.border-left(href="contact-us.html") 聯絡我們                
              li
                a.border-left(href="") 常見問題            
              li
                a.border-left(href="") 條款及細則
            p.text-center Copyright © 2022 古雲國樂 版權所有 
  script(src="public/js/script.js")
  