doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 古雲國樂|彈撥|大葉紫檀琵琶
    link(rel='stylesheet' href='public/css/style-product.css')
  body
    // header start
    header
      .container
        .row.flex-start
          h1
            a(href='index.html')
              img(src="public/images/logo_KU_YUN.svg" alt="")
          a#btn-nav-toggle.icon-menu(href="#") Menu

          nav#primary-navigation
            ul
              li
                a(href='plucked-music.html') 彈撥樂
                ul.submenu  
                  li 
                    a(href="design-list-teach.html") 琵琶
                  li
                    a(href="design-list-teach.html") 古箏
                  li
                    a(href="design-list-teach.html") 揚琴
                  li
                    a(href="design-list-teach.html") 阮咸
                  li
                    a(href="design-list-teach.html") 柳琴
                  li
                    a(href="design-list-teach.html") 古琴
              li
                a(href='design-list-teach.html') 吹管樂
                ul.submenu  
                  li 
                    a(href="design-list-teach.html") 蕭
                  li
                    a(href="design-list-teach.html") 笛
              li
                a(href='#') 拉弦樂
                ul.submenu  
                  li 
                    a(href="") 二胡
                  li
                    a(href="") 高胡 
              li
                a(href='#') 樂器配件
                ul.submenu 
                  li 
                    a(href="") 彈撥配件
                  li
                    a(href="") 吹管配件 
              li
                a(href='store.html') 門市資訊
              li 
                a(href='#') 
                  img.icon-size(src="public/images/icon_search.svg", alt="搜尋")
              li 
                a(href='#')
                  img.icon-size(src="public/images/icon_buy.svg", alt="購物車")
              li 
                a(href='#')
                  img.icon-size(src="public/images/icon_sign_in.svg", alt="登入")
                
    // header end
  
    // content start
    
    .container
      .row
        ul.col-12.breadcrumb
          li.bread
            a(href='index.html') 首頁            
          li.bread
            a(href='#') 彈撥樂
          li.bread
            a(href='#') 琵琶
        aside.col-12.col-md-5.col-lg-5
          img.img-fluid(src='public/images/pipaA-1.png' alt='')
        article.describe.col-12.col-md-7.col-lg-7  
          .col-12
            dl.bottom-distance
              dt.left-h2 樂海 大葉紫檀琵琶
                dd.text-product ◇全店，滿5000免一般貨運費 ( 限台灣訂單 )
                dd.text-product-color-red 現庫存只剩下2件                
                dd.price-big NT$999,000
                  p.price-origin NT$1299,000
                div.choose 
            ul.all-plucked   
              li.plucked-distance
                a.btn-plucked(href='') 購買數量購買數量購買數量購買
          
            ul.all-plucked                
              li.plucked-distance
                a.btn-plucked(href='') 直接購買
              li.plucked-distance
                a.btn-plucked(href='') 加入購物車
                
        
        
        
     
   
   
    // content end
    // footer>.container>.row>dl.col-md-3*5>dt{標題$$}+dd*4>a{項目$$}^^^p.copyright.text-center{copyright}
  footer
      .container
        .row.space-between
          nav
            ul
              li
                a(href="") 
                  img.img-fluid.img-rounded(src="public/images/icon_fb.svg", alt="")
              li
                a(href="")
                  img.img-fluid.img-rounded(src="public/images/icon_ig.svg", alt="") 
              li
                a(href="") 
                  img.img-fluid.img-rounded(src="public/images/icon_yt.svg", alt="")
              li
                a(href="") 
                  img.img-fluid.img-rounded(src="public/images/icon_line.svg", alt="")
              li
                a(href="") 
                  img.img-fluid.img-rounded(src="public/images/icon_twitter.svg", alt="")
          
            ul.text-footer
              li 
                a.border-left(href="") 關於我們                
              li 
                a.border-left(href="") 服務信箱                
              li
                a.border-left(href="") 常見問題            
              li
                a.border-left(href="") 條款及細則
            p.text-center Copyright © 2022 古雲國樂 版權所有 
  script(src="public/js/script.js")