doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 古雲國樂|彈撥
    link(rel='stylesheet' href='public/css/style.css')
  body
    // header start
    header
      .container
        .row.flex-start
          h1
            a(href='index.html')
              img(src="public/images/logo_KU_YUN.svg" alt="")
          a#btn-nav-toggle.icon-menu(href="#") Menu

          nav#primary-navigation
            ul
              li
                a(href='plucked-music.html') 彈撥樂
                ul.submenu  
                  li 
                    a(href="plucked-product.html") 琵琶
                  li
                    a(href="") 古箏
                  li
                    a(href="") 揚琴
                  li
                    a(href="") 阮咸
                  li
                    a(href="") 柳琴
                  li
                    a(href="") 古琴
              li
                a(href='') 吹管樂
                ul.submenu  
                  li 
                    a(href="") 蕭
                  li
                    a(href="") 笛
              li
                a(href='#') 拉弦樂
                ul.submenu  
                  li 
                    a(href="") 二胡
                  li
                    a(href="") 高胡 
              li
                a(href='#') 樂器配件
                ul.submenu 
                  li 
                    a(href="") 彈撥配件
                  li
                    a(href="") 吹管配件 
              li
                a(href='store.html') 門市資訊
              li 
                a(href='#') 
                  img.icon-size(src="public/images/icon_search.svg", alt="搜尋")
              li 
                a(href='#')
                  img.icon-size(src="public/images/icon_buy.svg", alt="購物車")
              li 
                a(href='login-member.html')
                  img.icon-size(src="public/images/icon_sign_in.svg", alt="登入")
                
    // header end
  
    // content start
    .container
      .row
        ul.col-12.breadcrumb
          li.bread
            a(href='index.html') 首頁           
          li.bread
            a(href='#') 彈撥樂
        h1.text-left-h1 彈撥樂
      img.img-fluid(src='https://picsum.photos/1140/230' alt='')
      .row
        
        ul.all-plucked
          li.plucked-distance
            a.btn-plucked(href='') 琵琶
          li.plucked-distance
            a.btn-plucked(href='') 古箏
          li.plucked-distance
            a.btn-plucked(href='') 揚琴
          li.plucked-distance
            a.btn-plucked(href='') 阮咸
          li.plucked-distance
            a.btn-plucked(href='') 柳琴
          li.plucked-distance
            a.btn-plucked(href='') 古琴
      ul.flex-left 
        li.text-left-h2 
          a 琵琶
        li.text-left-a
          a.text-a(href="") 查看更多琵琶 >>
      .row
        .col-6.col-md-3.col-lg-3
          a(href='plucked-product.html')
            img.img-fluid.img-rounded(src='public/images/pipaA-1.jpg' alt='')
            img.fill-like(src="public/images/icon_fill_like.svg", alt="")            
          p.title.text-left
            a(href='plucked-product.html') 古雲 大葉紫檀琵琶
          p.price-small.text-left NT$76,500
        .col-6.col-md-3.col-lg-3
          a(href='')
            img.img-fluid.img-rounded(src='public/images/guzheng01.jpg' alt='')
            img.fill-like(src="public/images/icon_fill_like.svg", alt="")            
          p.title.text-left
            a(href='') 胡桃木紋箏
          p.price-small.text-left NT$76,500
        .col-6.col-md-3.col-lg-3
          a(href='')
            img.img-fluid.img-rounded(src='public/images/guzheng01.jpg' alt='')
            img.fill-like(src="public/images/icon_fill_like.svg", alt="")            
          p.title.text-left
            a(href='') 胡桃木紋箏
          p.price-small.text-left NT$76,500 
        .col-6.col-md-3.col-lg-3
          a(href='')
            img.img-fluid.img-rounded(src='public/images/guzheng01.jpg' alt='')
            img.fill-like(src="public/images/icon_fill_like.svg", alt="")            
          p.title.text-left
            a(href='') 胡桃木紋箏
          p.price-small.text-left NT$76,500
      ul.flex-left 
        li.text-left-h2 
          a 古箏
        li.text-left-a
          a.text-a(href="") 查看更多古箏 >>
      .row
        .col-6.col-md-3.col-lg-3
          a(href='')
            img.img-fluid.img-rounded(src='public/images/guzheng01.jpg' alt='')
            img.fill-like(src="public/images/icon_fill_like.svg", alt="")            
          p.title.text-left
            a(href='') 胡桃木紋箏
          p.price-small.text-left NT$76,500
        .col-6.col-md-3.col-lg-3
          a(href='')
            img.img-fluid.img-rounded(src='public/images/guzheng01.jpg' alt='')
            img.fill-like(src="public/images/icon_fill_like.svg", alt="")            
          p.title.text-left
            a(href='') 胡桃木紋箏
          p.price-small.text-left NT$76,500
        .col-6.col-md-3.col-lg-3
          a(href='')
            img.img-fluid.img-rounded(src='public/images/guzheng01.jpg' alt='')
            img.fill-like(src="public/images/icon_fill_like.svg", alt="")            
          p.title.text-left
            a(href='') 胡桃木紋箏
          p.price-small.text-left NT$76,500 
        .col-6.col-md-3.col-lg-3
          a(href='')
            img.img-fluid.img-rounded(src='public/images/guzheng01.jpg' alt='')
            img.fill-like(src="public/images/icon_fill_like.svg", alt="")            
          p.title.text-left
            a(href='') 胡桃木紋箏
          p.price-small.text-left NT$76,500 
      ul.flex-left 
        li.text-left-h2 
          a 揚琴
        
      .row
        .col-6.col-md-3.col-lg-3
          a(href='')
            img.img-fluid.img-rounded(src='public/images/guzheng01.jpg' alt='')
            img.fill-like(src="public/images/icon_fill_like.svg", alt="")            
          p.title.text-left
            a(href='') 胡桃木紋箏
          p.price-small.text-left NT$76,500
        .col-6.col-md-3.col-lg-3
          a(href='')
            img.img-fluid.img-rounded(src='public/images/guzheng01.jpg' alt='')
            img.fill-like(src="public/images/icon_fill_like.svg", alt="")            
          p.title.text-left
            a(href='') 胡桃木紋箏
          p.price-small.text-left NT$76,500
        
      ul.flex-left 
        li.text-left-h2 
          a 阮咸
        li.text-left-a
          a.text-a(href="") 查看更多阮咸 >>
      .row
        .col-6.col-md-3.col-lg-3
          a(href='')
            img.img-fluid.img-rounded(src='public/images/guzheng01.jpg' alt='')
            img.fill-like(src="public/images/icon_fill_like.svg", alt="")            
          p.title.text-left
            a(href='') 胡桃木紋箏
          p.price-small.text-left NT$76,500
        .col-6.col-md-3.col-lg-3
          a(href='')
            img.img-fluid.img-rounded(src='public/images/guzheng01.jpg' alt='')
            img.fill-like(src="public/images/icon_fill_like.svg", alt="")            
          p.title.text-left
            a(href='') 胡桃木紋箏
          p.price-small.text-left NT$76,500
        .col-6.col-md-3.col-lg-3
          a(href='')
            img.img-fluid.img-rounded(src='public/images/guzheng01.jpg' alt='')
            img.fill-like(src="public/images/icon_fill_like.svg", alt="")            
          p.title.text-left
            a(href='') 胡桃木紋箏
          p.price-small.text-left NT$76,500 
        .col-6.col-md-3.col-lg-3
          a(href='')
            img.img-fluid.img-rounded(src='public/images/guzheng01.jpg' alt='')
            img.fill-like(src="public/images/icon_fill_like.svg", alt="")            
          p.title.text-left
            a(href='') 胡桃木紋箏
          p.price-small.text-left NT$76,500    
      ul.flex-left 
        li.text-left-h2 
          a 柳琴
        
      .row
        .col-6.col-md-3.col-lg-3
          a(href='')
            img.img-fluid.img-rounded(src='public/images/guzheng01.jpg' alt='')
            img.fill-like(src="public/images/icon_fill_like.svg", alt="")            
          p.title.text-left
            a(href='') 胡桃木紋箏
          p.price-small.text-left NT$76,500
        .col-6.col-md-3.col-lg-3
          a(href='')
            img.img-fluid.img-rounded(src='public/images/guzheng01.jpg' alt='')
            img.fill-like(src="public/images/icon_fill_like.svg", alt="")            
          p.title.text-left
            a(href='') 胡桃木紋箏
          p.price-small.text-left NT$76,500
        .col-6.col-md-3.col-lg-3
          a(href='')
            img.img-fluid.img-rounded(src='public/images/guzheng01.jpg' alt='')
            img.fill-like(src="public/images/icon_fill_like.svg", alt="")            
          p.title.text-left
            a(href='') 胡桃木紋箏
          p.price-small.text-left NT$76,500 
        
      ul.flex-left 
        li.text-left-h2 
          a 古琴
       
      .row
        .col-12.col-md-6.col-lg-6
          a(href='')
            img.img-fluid.img-rounded(src='public/images/guzheng01.jpg' alt='')
            img.fill-like(src="public/images/icon_fill_like.svg", alt="")            
          p.title.text-left
            a(href='') 胡桃木紋箏
          p.price-small.text-left NT$76,500
        .col-12.col-md-6.col-lg-6
          a(href='')
            img.img-fluid.img-rounded(src='public/images/guzheng01.jpg' alt='')
            img.fill-like(src="public/images/icon_fill_like.svg", alt="")            
          p.title.text-left
            a(href='') 胡桃木紋箏
          p.price-small.text-left NT$76,500
       
     
   
   
    // content end
    // footer>.container>.row>dl.col-md-3*5>dt{標題$$}+dd*4>a{項目$$}^^^p.copyright.text-center{copyright}
  footer
      .container
        .row.space-between
          nav
            ul
              li
                a(href="") 
                  img.img-fluid.img-rounded(src="public/images/icon_fb.svg", alt="")
              li
                a(href="")
                  img.img-fluid.img-rounded(src="public/images/icon_ig.svg", alt="") 
              li
                a(href="") 
                  img.img-fluid.img-rounded(src="public/images/icon_yt.svg", alt="")
              li
                a(href="") 
                  img.img-fluid.img-rounded(src="public/images/icon_line.svg", alt="")
              li
                a(href="") 
                  img.img-fluid.img-rounded(src="public/images/icon_twitter.svg", alt="")
          
            ul.text-footer
              li 
                a.border-left(href="") 關於我們                
              li 
                a.border-left(href="") 服務信箱                
              li
                a.border-left(href="") 常見問題            
              li
                a.border-left(href="") 條款及細則
            p.text-center Copyright © 2022 古雲國樂 版權所有 
  script(src="public/js/script.js")