doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 古雲國樂|彈撥|大葉紫檀琵琶
    link(rel='stylesheet' href='public/css/style-product.css')
    
  body
    // header start
    header
      .container
        .row.flex-start
          h1
            a(href='index.html')
              img(src="public/images/logo_KU_YUN.svg" alt="")
          a#btn-nav-toggle.icon-menu(href="#") Menu
          nav#primary-navigation
            ul
              li
                a(href='plucked-music.html') 彈撥樂
                ul.submenu  
                  li 
                    a(href="plucked-product.html") 琵琶
                  li
                    a(href="") 古箏
                  li
                    a(href="") 揚琴
                  li
                    a(href="") 阮咸
                  li
                    a(href="") 柳琴
                  li
                    a(href="") 古琴
              li
                a(href='') 吹管樂
                ul.submenu  
                  li 
                    a(href="") 蕭
                  li
                    a(href="") 笛
              li
                a(href='#') 拉弦樂
                ul.submenu  
                  li 
                    a(href="") 二胡
                  li
                    a(href="") 高胡 
              li
                a(href='#') 樂器配件
                ul.submenu 
                  li 
                    a(href="") 彈撥配件
                  li
                    a(href="") 吹管配件 
              li
                a(href='store.html') 門市資訊
              li 
                a(href='#') 
                  img.icon-size(src="public/images/icon_search.svg", alt="搜尋")
              li 
                a(href='#')
                  img.icon-size(src="public/images/icon_buy.svg", alt="購物車")
              li 
                a(href='login-member.html')
                  img.icon-size(src="public/images/icon_sign_in.svg", alt="登入")
                
    // header end
  
    // content start
    
    .container
      .row
        ul.col-12.breadcrumb
          li.bread
            a(href='index.html') 首頁            
          li.bread
            a(href='plucked-music.html') 彈撥樂
          li.bread
            a(href='#') 琵琶
        aside.col-12.col-md-5.col-lg-5
          .main-img
            img.img-fluid(src='public/images/pipaA-1.jpg' alt='')
          .thumbnails
            img.active(src="public/images/pipaA-1.jpg", alt="")
            img(src="public/images/pipaA-2.jpg", alt="")
            img(src="public/images/pipaA-3.jpg", alt="")
            img(src="public/images/pipaA-4.jpg", alt="")
            img(src="public/images/pipaA-5.jpg", alt="")
            
           
        article.describe.col-12.col-md-7.col-lg-7  
          .col-12
            dl.bottom-distance
              dt.left-h2 古雲 大葉紫檀琵琶
                dd.text-product ◇全店，滿5000免一般貨運費 ( 限台灣訂單 )
                dd.text-product-color-red 現庫存只剩下2件                
                dd.price-big NT$999,000
                  p.price-origin NT$1299,000
                div.choose 
            ul.all-product   
              li.product-distance
                a.btn-many(href='') 購買數量         
            ul.all-plucked-product                
              li.product-distance
                a.btn-buy(href='') 直接購買
              li.product-distance
                a.btn-shopping-cart(href='') 加入購物車
      h2.text-left-h2 詳細資料
      p.text-name 古雲 大葉紫檀琵琶
      ul.text-title 商品特色
        li ◇ 古雲國樂限量兩支，此款珍稀少見，值得收藏。
        li ◇ 主要由黑酸枝木類的大葉紫檀原木拋光製成，俗名又稱盧氏黑黃檀、血檀或玫瑰檀，質地細密紮實，紋路獨具特色。
        li ◇ 刻有經典的牡丹造型頭飾、梧桐木面板、木質相軫等特色，以及琵琶演奏名家容萱簽名。
      ul.text-title 商品規格
        li ◇ 品牌：樂海
        li ◇ 型號：02152042-918JZ-2
        li ◇ 產地：台灣
        li ◇ 主要材質：黑酸枝木(大葉紫檀)
        li ◇ 附屬品：琴盒、指甲、備弦
        li ◇ 保固：3年
    // content end
    // footer>.container>.row>dl.col-md-3*5>dt{標題$$}+dd*4>a{項目$$}^^^p.copyright.text-center{copyright}
  footer
      .container
        .row.space-between
          nav
            ul
              li
                a(href="") 
                  img.img-fluid.img-rounded(src="public/images/icon_fb.svg", alt="")
              li
                a(href="")
                  img.img-fluid.img-rounded(src="public/images/icon_ig.svg", alt="") 
              li
                a(href="") 
                  img.img-fluid.img-rounded(src="public/images/icon_yt.svg", alt="")
              li
                a(href="") 
                  img.img-fluid.img-rounded(src="public/images/icon_line.svg", alt="")
              li
                a(href="") 
                  img.img-fluid.img-rounded(src="public/images/icon_twitter.svg", alt="")
          
            ul.text-footer
              li 
                a.border-left(href="") 關於我們                
              li 
                a.border-left(href="contact-us.html") 聯絡我們                
              li
                a.border-left(href="") 常見問題            
              li
                a.border-left(href="") 條款及細則
            p.text-center Copyright © 2022 古雲國樂 版權所有 
  script(src="public/js/script.js")
  script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous") 
  script(src="public/js/script-change-imag.js")