
doctype html
head 
    title 中興大學
    link(rel="stylesheet", href="public/css/style.css")
body 
    header 
        .container 
            h1 
                a 中興大學
            nav 
                ul 
                    li 
                        a(href="#")  關於我們
                    li 
                        a(href="#")  校園日誌
                    li  
                        a(href="#")  實習計畫
                    li 
                        a(href="#")  教職員專區
                    li  
                        a(href="#")  聯絡我們
    .contaner 
        .row  
            .col-6 
                p 左邊
            .col-6 
                p 右邊 
    footer 
        .container  
            p.text-center copyright 